html body .home-media-list {
    margin-bottom: 35px;
    margin-top: 60px;
    padding: 14px 0;
}

@media (min-width: 685px) {
    html body .home-media-list .media-object-left {
        vertical-align: top;
        display: table-cell;
        width: 10000px;
    }
}

@media (min-width: 685px) {
    html body .home-media-list h2 {
        margin-bottom: 27px;
        margin-top: -61px;
    }
}

html body .home-media-list h2 {
    color: #222;
    font-size: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
}

@media (max-width: 685px) {
    html body .home-media-list h2 {
        border-bottom: 1px solid #d0d0d0;
        padding-bottom: 7px;
        margin-bottom: 17px;
    }
}

html body .home-news-list {
    display: table;
    min-width: 100%;
}

html body .home-news-list li:first-child {
    padding-left: 0;
}

@media (max-width: 579px) {
    html body .home-news-list li:first-child {
        margin-top: 0;
    }
}

@media (min-width: 579px) {
    html body .home-news-list li {
        display: table-cell;
        vertical-align: top;
        width: 25%;
        padding: 0 12px;
    }
}

@media (max-width: 579px) {
    html body .home-news-list li {
        display: block;
        width: 100%;
        margin-top: 16px;
        padding-left: 0;
    }
}

html body .home-news-list li a {
    display: block;
}

html body .home-news-list li a span {
    display: block;
}

html body .home-news-list li a span.title {
    font-size: 16px;
    color: #222222;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
}

@media (min-width: 685px) {
    html body .home-news-list li a span.title {
        font-size: 20px;
    }
}

html body .home-news-list li a:hover span.title {
    opacity: 0.5;
}

html body .home-news-list li a span.date {
    color: #9a9a9a;
    font-size: 14px;
    margin: 4px 0;
}



html body .home-news-list li a span.text {
    font-size: 14px;
    color: #767676;
}

@media (min-width: 685px) {
    html body .home-news-list li a span.text {
        font-size: 18px;
    }
}

.read-more-after:after,
html body article .objects-list-two-rows li a span.read-more:after,
html body .home-media-list .media-object-right a span:after,
html body .home-news-list li a span.text:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
    background: url("../images/haberindir.png") no-repeat left center;
    width: 17px;
    height: 17px;
}

@media (min-width: 685px) {
    html body article .news-detail .images {
        float: right;
        margin-left: 15px;
    }
}

@media (min-width: 685px) {
    html body article .news-detail .images li {
        display: block;
        margin-bottom: 12px;
    }
}

html body article .news-detail .images li a {
    display: block;
}

.hs-small,
html body article .faq-object-list h3,
html body article .objects-list-tree-rows .span span.title,
html body article .objects-list-tree-rows .headline,
html body article .search-list li a,
html body article .sitemap-list ul>li span {
    color: #000;
    margin-top: 14px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 21px;
}

@media (min-width: 776px) {

    .hs-small,
    html body article .faq-object-list h3,
    html body article .objects-list-tree-rows .span span.title,
    html body article .objects-list-tree-rows .headline,
    html body article .search-list li a,
    html body article .sitemap-list ul>li span {
        font-size: 24px;
    }
}

.date-style,
html body article .objects-list-two-rows li a span.date,
html body article .news-detail .date,
html body article .news-detail .bback-button {
    color: #b1b1b1;
    font-size: 15px;
    margin: 4px auto;
}

html body article .news-detail p {
    color: #000000;
    margin-top: 10px;
    font-size: 14px;
}

@media (min-width: 776px) {
    html body article .news-detail p {
        text-align: left;
        font-size: 18px;
    }
}

em {
    font-style: italic;
}

html body p a:hover,
html body .cont-p a:hover {
    text-decoration: underline;
}

.date-style,
html body article .objects-list-two-rows li a span.date,
html body article .news-detail .date,
html body article .news-detail .bback-button {
    color: #b1b1b1;
    font-size: 15px;
    margin: 4px auto;
}

html body article .news-detail .bback-button {
    display: table;
    background: url("../images/back-button.png") no-repeat left center;
    padding-left: 26px;
    margin: 16px 0 0 0;
}

html body article .news-detail .bback-button:hover {
    color: #000;
}

.haberLink {
    color: #11a1d6 !important;
}

.haberLink:hover {
    text-decoration: underline;
}

@media (max-width: 685px) {
    html body article .news-detail .images li {
        float: left;
        width: 33.33333333%;
        padding: 3px;
    }
}