html body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 13px;
  color: #656565;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  background: #fff;
  min-width: 320px;
  line-height: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: block;
  margin: 8px;
}

@media (max-width: 685px) {
  html body.no-scroll {
    overflow: hidden;
  }
}